.gallery {
    list-style: none;
    padding: 0;
    margin: 0;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.gallery-item {
    width: 100%;
    height: 100%;
}

.gallery-link {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.gallery-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-image:hover {
    transform: scale(1.1);
}